* {
    /* outline: solid 1px red; */
    padding: 10px;
}

body {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #f3f3ff;
}

.parent {
    width: 1000px;
}

.texto-1 {
    text-align: center;
}

img {
    height: 200px;
}

.grupo1, .grupo2, .grupo3, .grupo4, .grupo5 {
    display: flex;
    justify-content: space-around;
    border-bottom: 15px solid #f3f3ff;
}

.grupo1 {
    background-color: #50c3ef;
}

.grupo2 {
    background-color: #d896aa;
}

.grupo3 {
    background-color: #fff;
}

.grupo4 {
    background-color: red;
}

.grupo5 {
    background-color: black;
}

.imgen-2 {
    width: 210px;
    object-fit: contain;
}

.texto-2 {
    text-align: center;
}

.texto-azul {
    color: #7abbfe;
    text-decoration: underline;
    cursor: pointer;
}