* {
    padding: 0;
    margin-top: 1px;
    /* outline: solid 1px red;  */
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: white;
    margin: 5px -10px;
}

.fondo {
    padding: 20px;
}

.texto1 {
    background-color: black;
    color: white;
}

.span-t {
    color: #00ffff;
}

.texto2 {
    background-color: #663399;
    color: white;
    margin-top: -0.8%;
    font-style: italic;
}

.texto3 {
    background-color: #9fc5f8;
    text-decoration: underline;
    margin-top: -0.8%;
}

.text-1 {
    text-align: left;
    margin-left: 1%;
}

.texto2 {
    text-align: center;
}

.text-3 {
    text-align: end;
    margin-right: 1%;
}