* {
    padding: 0;
    margin: 5px;
    margin-top: 15px;
    /* outline: solid 1px red; */
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: white;
    margin: 5px 600px;
}

.fondo {
    padding: 20px;
}

.texto1 {
    background-color: black;
    color: white;
}

span {
    color: #00ffff;
}

.texto2 {
    background-color: #663399;
    color: white;
    margin-top: -10px;
    font-style: italic;
}

.texto3 {
    background-color: #9fc5f8;
    text-decoration: underline;
    margin-top: -10px;
}

h1 {
    text-align: left;
}

h2 {
    text-align: center;
}

h3 {
    text-align: end;
}