* {
    /* outline: solid 1px red; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    margin: 0;
    padding: 20px;
}

.padre {
    max-width: 650px;
    margin: 0 auto;
    border-radius: 25px;
    background-color: #edf0f2;
    padding: 20px;
    min-height: 600px;
}

.hijo1, .hijo2 {
    max-width: 550px;
    background-color: aliceblue;
    border-radius: 25px;
    margin: 0 auto;
    box-shadow: 0px 0px 25px 1px gray;
}

.hijo1 {
    margin-bottom: 20px;
}

.parte-arriba {
    display: flex;
    justify-content: space-between;
}

.btn-verTodo {
    width: 110px;
    height: 40px;
    font-size: 15px;
    background-color: transparent;
    border: solid 3px #55aee2;
    border-radius: 10px;
    color: #55aee2;
    cursor: pointer;
    margin: 20px;
    font-size: 21px;
}

.texto-soli, .texto-cone {
    margin: 10px;
    height: 40px;
    margin-top: 20px;
}

.img-f{
    width: 40px;
    height: 40px;
    margin: 10px 20px 10px 10px;
}

.img-d {
    width: 40px;
    height: 40px;
}

/* .img-de {
    display: flex;
    margin-left: 240px;
    margin-top: 10px;
} */

.btn-img-f {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    border: solid 1px transparent;
    background-color: transparent;
    margin-top: 8px;
    cursor: pointer;
}

.img-foto-1 {
    width: 30px;
    height: 30px;
    border-radius: 100px;
    cursor: pointer;
}

.btn-conjunto {
    margin-left: 235px;
}

.conjunto2 {
    margin-left: 245px;
}

.usua {
    display: flex;
    margin-left: 15px;
}













