* {
    /* outline: solid 1px red; */
    margin: 0; 
}

body {
    text-align: left;
    color: white;
}

.row {
    display: flex;
    gap: 30px;
    margin-top: 20px;
}

.col {
    flex: 1;
    background-color: rgb(7, 68, 68);
    padding: 20px;
}

.col-2 {
    flex: 2;
    background-color: rgb(7, 68, 68);
    padding: 20px;

}

.col-3 {
    flex: 3;
    background-color: rgb(7, 68, 68);
    padding: 20px;
}
